body {background-color: #F4F4F4;}
a, a:hover{
    color: black;
    
    text-decoration: none;
}


/* Background Gradient for Complementary Colors */

#screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -118px;
    margin-left: -86px;
    width: 172px;
    height: 232px;
    overflow: hidden;
    z-index: 1;
}

#watch {
    background-color: #FFFFFF;
    position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -149px;
   margin-left: -570px;
   width: 1140px;
   
}


.row{
    height: 45px;
}

