body {
    background-color: #F4F4F4;
    overflow-x: hidden;
}


a, a:hover {
    color: black;
    text-decoration: none;
}

.navbar-nav li {
    /*FULL HEIGHT NAV*/
    padding-bottom: 5px;
}

.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    opacity: 0.4;
}

span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#showAlert {
    display: none;
}

#screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -158px;
    margin-left: -122px;
    width: 6.5cm;
    height: 8.66cm;
    overflow: hidden;
    overflow-x: hidden;
    z-index: 1;
    scrollbar-width: none;
}

#mapid {
    width: 6.5cm;
    height: 7.6cm;
    z-index: 0;
}

#menumaps {
    position: absolute;
    z-index: 10000;
}

#screen::-webkit-scrollbar {
    display: none;
}

#watch {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -208px;
    margin-left: -811px;
    width: 43cm;
}

/* Style the form */

#regForm {
    padding: 10px;
    width: 100%;
    min-width: 50px;
}

/* Style the input fields */

input {
    background-color: #EFEFEF;
    border: none;
}

/* Mark input boxes that gets an error on validation: */

input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */

.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */

.step {
    display: none;
}

input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-inner-spin-button, 
  input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-inner-spin-button, 
  input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
#mainplace {
    font-size: 14px;
}

#titleplace {
    font-size: 18px;
}

#mapsicon {
    position:absolute; 
    padding:10px; 
    margin:-70px 0px 0px 25px;
    font-size: 35px; 
}

.placedesc {
    font-size:12px; 
    line-height: 2px;
}

#buttonplace {
    font-size: 15px;
    background-image: linear-gradient(#007ff5, #1f5e99);
}

#Localname {
    width:88%;
    height:30px;
    float:right;
}

.cont  {
    height: 6cm;
    overflow-y: scroll;
}