body {background-color: #F4F4F4;}
a, a:hover{
    color: black;
    
    text-decoration: none;
}
span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Background Gradient for Complementary Colors */

#screen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -118px;
    margin-left: -86px;
    width: 172px;
    height: 232px;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 1;
    scrollbar-width: none;
}

#screen::-webkit-scrollbar { 
    display: none; 
}

#watch {
    background-color: #FFFFFF;
    position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -149px;
   margin-left: -570px;
   width: 1140px;
   
}